nodes-export.json
[{"id":"f04037c3.0fbfc8","type":"trafikanten-provider","name":"1 Mortensrud (Ensjø [T-bane])","configurationString":"3011430-3-Mortensrud","x":243,"y":204,"z":"d7728175.288d8","wires":[["a7d7e44d.582818"]]},
{"id":"34c98f4b.cb367","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"x":111,"y":87,"z":"d7728175.288d8","wires":[["f04037c3.0fbfc8","8aee46f8.7511b8","c71f242e.38e0d8","8325b3aa.7cda5"]]},
{"id":"5f680ab.fa097f4","type":"trafikanten-fetcher","x":644.0000610351562,"y":318,"z":"d7728175.288d8","wires":[["60331b9d.9fcce4"]]},
{"id":"8aee46f8.7511b8","type":"trafikanten-provider","name":"1 Sinsen (Helsfyr (område))","configurationString":"3011440-4-Sinsen","x":192,"y":249,"z":"d7728175.288d8","wires":[["a7d7e44d.582818"]]},
{"id":"a7d7e44d.582818","type":"buffer","interval":"100","x":404,"y":319,"z":"d7728175.288d8","wires":[["5f680ab.fa097f4"]]},
{"id":"60331b9d.9fcce4","type":"sorter","field":"time","order":"descending","x":210.00003051757812,"y":385,"z":"d7728175.288d8","wires":[["2691c672.d96e3a"]]},
{"id":"c71f242e.38e0d8","type":"trafikanten-provider","name":"17 Helsfyr T (Jernbanetorget (område))","configurationString":"3010012-37-Helsfyr T","x":315,"y":159,"z":"d7728175.288d8","wires":[["a7d7e44d.582818"]]},
{"id":"2691c672.d96e3a","type":"trafikantenformatter","field":"time","x":205,"y":450,"z":"d7728175.288d8","wires":[["f98ed46.f067128"]]},
{"id":"b76992a.f48967","type":"rastrifier","interval":1000,"x":601.0000610351562,"y":422.8888854980469,"z":"d7728175.288d8","wires":[["202b7e50.dfd482"]]},
{"id":"cd494a09.32b6b8","type":"arrayslice","from":0,"to":"1","forceArray":false,"x":476.99998474121094,"y":556.8889274597168,"z":"d7728175.288d8","wires":[["b76992a.f48967"]]},
{"id":"f98ed46.f067128","type":"xerox","copies":"2","x":287,"y":568.8888854980469,"z":"d7728175.288d8","wires":[["cd494a09.32b6b8","49d5db79.b62a24"]]},
{"id":"49d5db79.b62a24","type":"arrayslice","from":"1","to":"5","forceArray":true,"x":315.9999694824219,"y":645.888916015625,"z":"d7728175.288d8","wires":[["6ce4e76f.931b18"]]},
{"id":"6ce4e76f.931b18","type":"concatenator","x":345.00006103515625,"y":716.888916015625,"z":"d7728175.288d8","wires":[["94423855.6bbdc8"]]},
{"id":"8325b3aa.7cda5","type":"trafikanten-provider","name":"60 Tonsenhagen (Kampens park)","configurationString":"3010665-60-Tonsenhagen","x":368,"y":109,"z":"d7728175.288d8","wires":[["a7d7e44d.582818"]]},
{"id":"1261d347.ed9e2d","type":"inject","name":"","topic":"inject","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":624,"y":162,"z":"d7728175.288d8","wires":[["5f680ab.fa097f4"]]},
{"id":"252fd78.fdad028","type":"twitter in","twitter":"","tags":"@vifhockey","user":"user","name":"@vifhockey","topic":"tweets","x":64,"y":793,"z":"d7728175.288d8","wires":[["a432ed66.5bcd1"]]},
{"id":"a432ed66.5bcd1","type":"arrayslice","from":0,"to":"1","forceArray":false,"x":236,"y":770,"z":"d7728175.288d8","wires":[["dba4af2a.245b5"]]},
{"id":"15974dd1.ea68b2","type":"inject","name":"","topic":"interval","payload":"","payloadType":"date","repeat":"0.05","crontab":"","once":false,"x":428,"y":879,"z":"d7728175.288d8","wires":[["3cff00a4.c301"]]},
{"id":"3cff00a4.c301","type":"scroller","interval":500,"x":799,"y":889,"z":"d7728175.288d8","wires":[["43da32bd.bc25cc"]]},
{"id":"dba4af2a.245b5","type":"prioritize","priority":"1","urgent":true,"x":447,"y":786,"z":"d7728175.288d8","wires":[["c6257896.39da88"]]},
{"id":"c6257896.39da88","type":"rastrifier","interval":1000,"x":680,"y":807,"z":"d7728175.288d8","wires":[["3cff00a4.c301"]]},
{"id":"94423855.6bbdc8","type":"prioritize","priority":"3","x":545,"y":679,"z":"d7728175.288d8","wires":[["c6257896.39da88"]]},
{"id":"b2412ee3.4dbed","type":"inject","name":"","topic":"","payload":"Ohoi!","payloadType":"string","repeat":"","crontab":"","once":false,"x":248,"y":829,"z":"d7728175.288d8","wires":[["dba4af2a.245b5"]]},
{"id":"baf70ae2.4508f8","type":"twitter in","twitter":"","tags":"@bbcbreaking","user":"user","name":"","topic":"tweets","x":208,"y":895,"z":"d7728175.288d8","wires":[["dba4af2a.245b5"]]},
{"id":"8a4ab125.75b55","type":"debug","name":"","active":true,"console":"false","complete":"true","x":185,"y":971,"z":"d7728175.288d8","wires":[]},
{"id":"202b7e50.dfd482","type":"wiringPiDisplaySection","start":0,"end":128,"x":834,"y":427,"z":"d7728175.288d8","wires":[[]]},
{"id":"43da32bd.bc25cc","type":"wiringPiDisplaySection","start":"129","end":"256","x":931,"y":734,"z":"d7728175.288d8","wires":[[]]}]