nodes-export-test.json
[{"id":"a58199e5.5a7e68","type":"websocket-listener","path":"/ws/display","wholemsg":"true"},{"id":"8c3d04ca.73c2f8","type":"inject","name":"","topic":"","payload":"♥♥ Velkommen hjem! ♥♥","payloadType":"string","repeat":"","crontab":"","once":false,"x":165,"y":613.6667022705078,"z":"bc825782.437da8","wires":[["f11ba486.0ee458"]]},{"id":"8a92c385.756d4","type":"displaySection","start":"128","end":"256","mode":"tabify","scrollSpeed":"0.1","x":830.6665954589844,"y":535,"z":"bc825782.437da8","wires":[["a60614f3.59f9e8"]]},{"id":"a60614f3.59f9e8","type":"wiringPiDisplay","size":"256","x":1055.6665954589844,"y":497,"z":"bc825782.437da8","wires":[["20b3b5f6.df4c4a"]]},{"id":"2e50a6d5.d1af5a","type":"concatenator","x":580.6666870117188,"y":468.888916015625,"z":"bc825782.437da8","wires":[["8a92c385.756d4"]]},{"id":"abe52264.541ae","type":"displaySection","start":0,"end":128,"mode":"tabify","scrollSpeed":"200","x":831.6665954589844,"y":472,"z":"bc825782.437da8","wires":[["a60614f3.59f9e8"]]},{"id":"20b3b5f6.df4c4a","type":"websocket out","name":"websocketDisplay","server":"a58199e5.5a7e68","x":1032.1665954589844,"y":626,"z":"bc825782.437da8","wires":[]},{"id":"c0476310.3fb8a","type":"arrayslice","from":"1","to":"5","forceArray":true,"x":567.6665802001953,"y":331.888916015625,"z":"bc825782.437da8","wires":[["2e50a6d5.d1af5a"]]},{"id":"896c0958.7693f8","type":"arrayslice","from":0,"to":"1","forceArray":false,"x":712.6666107177734,"y":273.888916015625,"z":"bc825782.437da8","wires":[["abe52264.541ae"]]},{"id":"9f7818c3.6087e8","type":"trafikanten-fetcher","interval":"30","x":428.6666564941406,"y":88,"z":"bc825782.437da8","wires":[[]]},{"id":"fb46753e.04b988","type":"trafikanten-provider","name":"Ensjø T-bane østover","configs":[{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"1","destination":"Ellingsrudåsen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"1","destination":"Ryen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"2","destination":"Ellingsrudåsen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"3","destination":"Mortensrud"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"4","destination":"Bergkrystallen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"6","destination":"Helsfyr"}],"x":190.66659545898438,"y":50,"z":"bc825782.437da8","wires":[["9f7818c3.6087e8"]]},{"id":"2c970db7.d368f2","type":"trafikanten-provider","name":"60-bussen","configs":[{"stationName":"Kampens park","stationId":"3010665","line":"60","destination":"Tonsenhagen"},{"stationName":"Kampens park","stationId":"3010665","line":"60","destination":"Vippetangen"}],"x":155.16659545898438,"y":89,"z":"bc825782.437da8","wires":[["9f7818c3.6087e8"]]},{"id":"7be1f6b4.841e08","type":"trafikanten-provider","name":"Ensjø T-bane vestover","configs":[{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"1","destination":"Frognerseteren"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"2","destination":"Kolsås"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"3","destination":"Sinsen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"4","destination":"Ringen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"6","destination":"Sognsvann"}],"x":190.16659545898438,"y":129,"z":"bc825782.437da8","wires":[["9f7818c3.6087e8"]]},{"id":"f11ba486.0ee458","type":"prioritizer","numberOfInputs":0,"priorities":["8c3d04ca.73c2f8","6980172f.967fe8","9f7818c3.6087e8","9a0f6353.65f0a"],"x":296.6667175292969,"y":221.11111450195312,"z":"bc825782.437da8","wires":[["896c0958.7693f8","c0476310.3fb8a"]]},{"id":"6980172f.967fe8","type":"inject","name":"","topic":"","payload":"Hurra!","payloadType":"string","repeat":"","crontab":"","once":false,"x":112.11109924316406,"y":580,"z":"bc825782.437da8","wires":[["f11ba486.0ee458"]]},{"id":"9a0f6353.65f0a","type":"inject","name":"","topic":"","payload":"Ingenting å vise","payloadType":"string","repeat":"","crontab":"","once":true,"x":238.88888549804688,"y":652.5555114746094,"z":"bc825782.437da8","wires":[["f11ba486.0ee458"]]}]