nodes-export.json
[{"id":"a58199e5.5a7e68","type":"websocket-listener","path":"/ws/display","wholemsg":"true"},{"id":"5df01e5f.a20fe","type":"trafikanten-fetcher","interval":"30","x":489.5555419921875,"y":179.6666717529297,"z":"d7728175.288d8","wires":[["96787e3c.69878","69c3bd59.963c44"]]},{"id":"96787e3c.69878","type":"arrayslice","from":0,"to":"1","forceArray":false,"x":607.5554809570312,"y":321.5555877685547,"z":"d7728175.288d8","wires":[["54874361.ab78bc"]]},{"id":"69c3bd59.963c44","type":"arrayslice","from":"1","to":"5","forceArray":true,"x":350.5554504394531,"y":418.5555877685547,"z":"d7728175.288d8","wires":[["51d700b6.ae29"]]},{"id":"51d700b6.ae29","type":"concatenator","x":487.5555419921875,"y":522.5555877685547,"z":"d7728175.288d8","wires":[["389eb280.c7614e"]]},{"id":"c0f41576.3f0be8","type":"trafikanten-provider","name":"Ensjø T-bane østover","configs":[{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"1","destination":"Ellingsrudåsen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"1","destination":"Ryen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"2","destination":"Ellingsrudåsen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"3","destination":"Mortensrud"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"4","destination":"Bergkrystallen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"6","destination":"Helsfyr"}],"x":251.55548095703125,"y":141.6666717529297,"z":"d7728175.288d8","wires":[["5df01e5f.a20fe"]]},{"id":"f1f12530.0e0ed8","type":"arrayslice","from":0,"to":"1","forceArray":false,"x":372.55548095703125,"y":856.6666717529297,"z":"d7728175.288d8","wires":[["c1915a86.3e6ea8"]]},{"id":"c1915a86.3e6ea8","type":"prioritize","priority":"1","urgent":true,"x":599.5554809570312,"y":882.6666717529297,"z":"d7728175.288d8","wires":[["9a899602.657668"]]},{"id":"389eb280.c7614e","type":"prioritize","priority":"3","x":455.55548095703125,"y":607.6666717529297,"z":"d7728175.288d8","wires":[["9a899602.657668"]]},{"id":"80888b14.7f7778","type":"inject","name":"","topic":"","payload":"Ohoi!","payloadType":"string","repeat":"","crontab":"","once":false,"x":384.55548095703125,"y":915.6666717529297,"z":"d7728175.288d8","wires":[["c1915a86.3e6ea8"]]},{"id":"54874361.ab78bc","type":"displaySection","start":0,"end":128,"mode":"tabify","scrollSpeed":"200","x":892.5554809570312,"y":563.6666717529297,"z":"d7728175.288d8","wires":[["a47accd4.5b853"]]},{"id":"9a899602.657668","type":"displaySection","start":"128","end":"256","mode":"scroll-rtl","scrollSpeed":"0.001","x":891.5554809570312,"y":626.6666717529297,"z":"d7728175.288d8","wires":[["a47accd4.5b853"]]},{"id":"a47accd4.5b853","type":"wiringPiDisplay","size":"256","x":1116.5554809570312,"y":588.6666717529297,"z":"d7728175.288d8","wires":[["53509792.acaf68"]]},{"id":"53509792.acaf68","type":"websocket out","name":"websocketDisplay","server":"a58199e5.5a7e68","x":1093.0554809570312,"y":717.6666717529297,"z":"d7728175.288d8","wires":[]},{"id":"ef2cbe6d.10d34","type":"trafikanten-provider","name":"60-bussen","configs":[{"stationName":"Kampens park","stationId":"3010665","line":"60","destination":"Tonsenhagen"},{"stationName":"Kampens park","stationId":"3010665","line":"60","destination":"Vippetangen"}],"x":216.05548095703125,"y":180.6666717529297,"z":"d7728175.288d8","wires":[["5df01e5f.a20fe"]]},{"id":"eae6c035.15194","type":"trafikanten-provider","name":"Ensjø T-bane vestover","configs":[{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"1","destination":"Frognerseteren"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"2","destination":"Kolsås"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"3","destination":"Sinsen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"4","destination":"Ringen"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"6","destination":"Sognsvann"}],"x":251.05548095703125,"y":220.6666717529297,"z":"d7728175.288d8","wires":[["5df01e5f.a20fe"]]},{"id":"761434b0.89ebcc","type":"twitter in","twitter":"","tags":"","user":"dm","name":"","topic":"tweets","x":428.41271209716797,"y":764.1269397735596,"z":"d7728175.288d8","wires":[["ff63534d.009cb"]]},{"id":"ff63534d.009cb","type":"change","action":"replace","property":"payload","from":"","to":"msg.tweet","reg":false,"name":"","x":625.2697677612305,"y":758.2698516845703,"z":"d7728175.288d8","wires":[["c1915a86.3e6ea8"]]},{"id":"59e6eabd.a61914","type":"twitter in","twitter":"","tags":"@vifhockey","user":"user","name":"@vifhockey","topic":"tweets","x":126.88888549804688,"y":910.6666870117188,"z":"d7728175.288d8","wires":[["f1f12530.0e0ed8"]]},{"id":"3d00662c.c2ff9a","type":"inject","name":"","topic":"","payload":"♥♥ Velkommen hjem! ♥♥","payloadType":"string","repeat":"","crontab":"","once":true,"x":225.88888549804688,"y":705.3333740234375,"z":"d7728175.288d8","wires":[[]]}]