nodes-export.json
[{"id":"17dbc073.e8244","type":"websocket-listener","path":"ws/display1","wholemsg":"true"},{"id":"8964cc99.769b3","type":"websocket-listener","path":"ws/display0","wholemsg":"true"},{"id":"2b0831b8.d4f7ce","type":"trafikanten-provider","name":"1 Mortensrud (Ensjø [T-bane])","configurationString":"3011430-3-Mortensrud","x":222.88888549804688,"y":225,"z":"40e562eb.bf1a9c","wires":[["dd40fa76.22bf08"]]},{"id":"98201c45.67dfe","type":"debug","name":"","active":true,"console":"false","complete":"true","x":699.8889617919922,"y":566.0001335144043,"z":"40e562eb.bf1a9c","wires":[]},{"id":"901f8459.6fe078","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.88888549804688,"y":82,"z":"40e562eb.bf1a9c","wires":[["2b0831b8.d4f7ce","95b8d1d3.6a473","dee0cdb.f211f3"]]},{"id":"5f296873.a0d698","type":"trafikanten-fetcher","x":623.8889465332031,"y":339,"z":"40e562eb.bf1a9c","wires":[["befe90c2.41017"]]},{"id":"95b8d1d3.6a473","type":"trafikanten-provider","name":"1 Sinsen (Helsfyr (område))","configurationString":"3011440-4-Sinsen","x":171.88888549804688,"y":270,"z":"40e562eb.bf1a9c","wires":[["dd40fa76.22bf08"]]},{"id":"dd40fa76.22bf08","type":"buffer","interval":"1000","x":383.8888854980469,"y":340,"z":"40e562eb.bf1a9c","wires":[["5f296873.a0d698"]]},{"id":"befe90c2.41017","type":"sorter","field":"time","order":"descending","x":189.888916015625,"y":406,"z":"40e562eb.bf1a9c","wires":[["7e6fc77c.819038"]]},{"id":"dee0cdb.f211f3","type":"trafikanten-provider","name":"17 Helsfyr T (Jernbanetorget (område))","configurationString":"3010012-37-Helsfyr T","x":294.8888854980469,"y":180,"z":"40e562eb.bf1a9c","wires":[["dd40fa76.22bf08"]]},{"id":"7e6fc77c.819038","type":"trafikantenformatter","field":"time","x":184.88888549804688,"y":471,"z":"40e562eb.bf1a9c","wires":[["6dc9c429.92363c"]]},{"id":"b4f1991c.4b0e68","type":"rastrifier","interval":1000,"x":580.8889465332031,"y":443.8888854980469,"z":"40e562eb.bf1a9c","wires":[["8991fd03.766e"]]},{"id":"8991fd03.766e","type":"websocket out","name":"Display line 0","server":"8964cc99.769b3","x":763.8889465332031,"y":417.8888854980469,"z":"40e562eb.bf1a9c","wires":[]},{"id":"7c8a9d8f.837564","type":"scroller","interval":500,"x":573.8889465332031,"y":759.8889236450195,"z":"40e562eb.bf1a9c","wires":[["9a621791.659de8"]]},{"id":"908655b4.6f79a8","type":"inject","name":"","topic":"interval","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"x":327.88890075683594,"y":720.8889274597168,"z":"40e562eb.bf1a9c","wires":[["7c8a9d8f.837564"]]},{"id":"1cb03123.e34fcf","type":"arrayslice","from":0,"to":"1","forceArray":false,"x":456.8888702392578,"y":577.8889274597168,"z":"40e562eb.bf1a9c","wires":[["b4f1991c.4b0e68"]]},{"id":"6dc9c429.92363c","type":"xerox","copies":"2","x":266.8888854980469,"y":589.8888854980469,"z":"40e562eb.bf1a9c","wires":[["1cb03123.e34fcf","5aeccaeb.a51334"]]},{"id":"5aeccaeb.a51334","type":"arrayslice","from":"1","to":"","forceArray":true,"x":295.88885498046875,"y":666.888916015625,"z":"40e562eb.bf1a9c","wires":[["e9f7ab11.160858"]]},{"id":"608d90a.f9f727","type":"rastrifier","interval":1000,"x":687.8889465332031,"y":661.888916015625,"z":"40e562eb.bf1a9c","wires":[["7c8a9d8f.837564"]]},{"id":"9a621791.659de8","type":"websocket out","name":"Display line 1","server":"17dbc073.e8244","x":786.1110687255859,"y":711.4444694519043,"z":"40e562eb.bf1a9c","wires":[]},{"id":"e9f7ab11.160858","type":"concatenator","x":524.8889465332031,"y":663.888916015625,"z":"40e562eb.bf1a9c","wires":[["608d90a.f9f727"]]}]