trafikanten-test.json
[{"id":"d26ff3f.f2d901","type":"trafikanten-provider","name":"Ensjø T-bane linje 3","configs":[{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"3","destination":"Stortinget","directionRef":"2"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"3","destination":"Mortensrud","directionRef":"1"},{"stationName":"Ensjø [T-bane]","stationId":"3011430","line":"4","destination":"Majorstuen","directionRef":"2"},{"stationName":"Vålerenga","stationId":"3010642","line":"37","destination":"Nydalen T","directionRef":"2"},{"stationName":"Vålerenga","stationId":"3010642","line":"37","destination":"Helsfyr T","directionRef":"1"}],"lastModified":"0","x":390,"y":82.33329683468685,"z":"2963c120.d69c3e","wires":[["db93c004.246c4"]]},{"id":"9edd2bef.6122d8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89.88888549804688,"y":70.88888549804688,"z":"2963c120.d69c3e","wires":[["d26ff3f.f2d901"]]},{"id":"db93c004.246c4","type":"debug","name":"Out","active":true,"console":"false","complete":"payload","x":669.8888854980469,"y":90.88888549804688,"z":"2963c120.d69c3e","wires":[]}]